@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.appearance-hide {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.loader {
    border: 16px solid #feebc8;
    border-top: 16px solid #ed8936;
    border-radius: 50%;
    margin-top: -60px;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bg-green-bright {
  background: #B3E561;
}

.shadow-card {
  box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.40);
}

.shadow-pill {
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.30);
}

.bg-nutri-a {
  background: #4BC600;
}

.bg-nutri-b {
  background: #7CDD01;
}

.bg-nutri-c {
  background: #C5E500;
}

.bg-nutri-d {
  background: #F4B717;
}

.bg-nutri-e {
  background: #DE5000;
}